<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="left-container">
      <div class="logo">Dashboard</div>

      <div class="left-top">
        <ul>
          <a id="Home" routerLink="/home">Home</a>
          <a id="Profile" routerLink="">Profile</a>
          <a id="Messages" routerLink="">Messages</a>
          <a id="History" routerLink="">History</a>
          <a id="Tasks" routerLink="">Tasks</a>
          <a id="Communities" routerLink="">Communities</a>
        </ul>
      </div>
    </div>
    <!--left-container end tag-->

    <div class="header-container">
      <div class="header-top">
        <input type="search" placeholder="How do I watch the Bee Movie?" />
        <div class="bell-button"></div>
        <div class="profile-pic"></div>
      </div>

      <div class="header-bottom">
        <div class="greeting">Hi there, User!</div>
        <div class="buttons-container">
          <button id="New">New</button>
          <button id="Upload">Upload</button>
          <button id="Share">Share</button>
        </div>
      </div>
    </div>
    <!--header-container end tag-->

    <div class="content">
      <h3 id="projects">Bee movie Quotes</h3>
      <div class="card">
        <h3>"Barry I told you, stop flying in the house!"</h3>
      </div>

      <div class="card">
        <h3>
          "And for your information, I prefer sugar artificial-sweeteners, made
          by man!"
        </h3>
      </div>

      <div class="card">
        <h3>
          "Vanessa: How do we do it? Barry B. Benson: I'll sting you, you step
          on me."
        </h3>
      </div>

      <div class="card">
        <h3>
          "Mr. Benson Bee, I'm going to ask what I think the entire court here
          would like to know... what exactly is your relationship to that
          woman?"
        </h3>
      </div>

      <div class="card">
        <h3>"Tournament of Roses? Roses can't do sports."</h3>
      </div>

      <div class="card">
        <h3>"Why is Yogurt Night so difficult?"</h3>
      </div>
    </div>
    <!--content end tag-->
    <div class="extras">
      <div class="Announcements">
        <h2>Announcements</h2>
        <div>
          <h2>Site Maintenance</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
            blanditiis!
          </p>
        </div>

        <div>
          <h2>Community Share Day</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
            culpa ad, veritatis eveniet amet architecto praesentium pariatur
            perspiciatis et, molestiae sunt similique suscipit, quisquam
            quibusdam!
          </p>
        </div>

        <div>
          <h2>Updated Privacy Policy</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit
            voluptate sequi voluptatum hic quam eum, mollitia ipsa dolores sit
            aliquid praesentium. Eum ab aspernatur numquam cupiditate assumenda
            hic laboriosam est.
          </p>
        </div>
      </div>

      <div class="Trending">
        <h2>Trending</h2>
        <ul id="profiles">
          <li>Barry the Bee Benson</li>
          <li>Vanessa Bloome</li>
          <li>Ken</li>
        </ul>
      </div>
      <!--'extras' end tag-->
    </div>
    <!--container end tag-->
  </div>
</body>
